<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8"/>
<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>响应列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 服务调用与响应管理 <span class="c-gray en">&gt;</span> 服务响应列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
		<button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="r">共有数据：<strong>X</strong> 条</span>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th width="25">ID</th>
					<th width="50">请求ID</th>
					<th width="50">异常</th>
					<th width="50">请求返回值</th>
					<th width="50">响应时间</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
/* 时间格式化 */
Date.prototype.Format = function (fmt) { //author: meizz

	var o = {
		"M+": this.getMonth() + 1, //月份

		"d+": this.getDate(), //日

		"h+": this.getHours(), //小时

		"m+": this.getMinutes(), //分

		"s+": this.getSeconds(), //秒

		"q+": Math.floor((this.getMonth() + 3) / 3), //季度

		"S": this.getMilliseconds() //毫秒

	};
	if (/(y+)/.test(fmt)) {
		fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
	}
	for (var k in o) {
		if (new RegExp("(" + k + ")").test(fmt)) {
			fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
		}
	}
	return fmt;
}

/* 构建表格 */
$('.table-sort').dataTable({
    serverSide: true,     //开启服务器模式
    ajax: {
        url: '/api/responses',
        type: 'POST',
        dataSrc:function(result){
            //这里除了把数据处理后返回给DataTables，还需要把另外三个参数处理为顶级的属性

            result.draw = result.draw;
            result.recordsTotal = result.totalElements;
            result.recordsFiltered = result.totalElements;

            //直接返回Datatables需要的那部分数据即可，看到这里，大家或许又懂了些什么看到了他的强大和灵活

            return result.content;
        },
        error:function(XMLHttpRequest,textStatus){
            alert(XMLHttpRequest.status+" "+XMLHttpRequest.readyState+" "+textStatus);
        }
    },
    columns: [
        { data: 'id' },
        { data: 'requestId' },
        { data: 'responseError' },
        { data: 'responseResult' },
        { data: 'responseTime',
            render: function(data, type, row, meta) {
                return (new Date(data)).Format("yyyy-MM-dd hh:mm:ss"); //date的格式 Thu Apr 26 2016 00:00:00 GMT+0800
            }
        }
    ],
    deferRender:true,  //当处理大数据时，延迟渲染数据，有效提高Datatables处理能力
    ordering:false,
    paging:true,
    destroy:true,
    bFilter:false,    //去掉搜索框
    processing: true
});


</script> 
</body>
</html>